.headersection{
    background: #ca932 none repeat scroll 0 0;
}
.navsection {
    background: none repeat scroll 0 0 #e6af4b;
    min-height: 38px;
}
.maincontent {
    background: #fef4e5 none repeat scroll 0 0;
}