.headersection{
    background: #152288 none repeat scroll 0 0;
}
.navsection {
    background: none repeat scroll 0 0 #4b74e6;
    min-height: 38px;
}
.maincontent {
    background: #219e2b6e none repeat scroll 0 0
}